.controls {
    margin-bottom: 20px;
}

.grid-container {
    margin: 20px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ya-hz-kak-korzona-budet {
    display: flex;
    justify-self: center;
    flex-direction: row;
}